.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    background-color: rgba(189, 195, 199, 0.1);

}

.Footer img{
    width: 32px;
}

.socialNetworks{
    width: 11.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.textDark{
    color: #fff;
}
.textLight{
    color: #000;
}